In [28]:
import numpy as np
import pandas as pd

In [29]:
arr=np.arange(100,105)
print(arr)
s1=pd.Series(arr)
s2=pd.Series(arr,dtype="int32")
s3=pd.Series(["부장","차장","대리","사원","인턴"])

print(s1, s2, s3, sep="\n")

[100 101 102 103 104]
0    100
1    101
2    102
3    103
4    104
dtype: int64
0    100
1    101
2    102
3    103
4    104
dtype: int32
0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [30]:
print(s3[0])
print(s2[[1, 2, 3]])  # fancy 인덱싱
print(s3[np.arange(1, 4, 2)])  # fancy 인덱싱 -> bool 인덱싱
print(s2[s2 > 103])

부장
1    101
2    102
3    103
dtype: int32
1    차장
3    사원
dtype: object
4    104
dtype: int32

In [31]:
s = pd.Series(
    ["마케팅", "경영", "개발", "기획", "인사"], index=["a", "b", "c", "d", "e"]
)
print(s)

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [32]:
print(s["a"])

마케팅

In [33]:
print(s.values)
print(s.ndim)
print(s.shape)

['마케팅' '경영' '개발' '기획' '인사']
1
(5,)

In [34]:
s2 = pd.Series(["선화", "강호", np.nan, "소정", "우영"])

In [35]:
print(s2.isnull())
print(s2.isna())
print(s2.notnull())
print(s2[s2.notnull()])

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool
0    선화
1    강호
3    소정
4    우영
dtype: object

In [36]:
#50개의 랜덤 (100~200 생성 후 160 이상만 출력)
np.random.seed(50)
sample=pd.Series(np.random.randint(100,200,size=(50,)))
print(sample[sample>160])

1     196
4     194
6     170
7     170
11    195
12    171
13    168
14    178
16    192
17    191
19    190
25    185
27    164
31    179
36    166
37    176
38    196
39    167
44    193
45    193
46    194
dtype: int64

In [39]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['가','나','다'],index=['a','b','c'])
print(df)

   가  나  다
a  1  2  3
b  4  5  6
c  7  8  9

In [42]:
df=pd.DataFrame(np.arange(60).reshape(6,10))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      int64
 1   1       6 non-null      int64
 2   2       6 non-null      int64
 3   3       6 non-null      int64
 4   4       6 non-null      int64
 5   5       6 non-null      int64
 6   6       6 non-null      int64
 7   7       6 non-null      int64
 8   8       6 non-null      int64
 9   9       6 non-null      int64
dtypes: int64(10)
memory usage: 608.0 bytes
None

In [43]:
df=pd.DataFrame({'name':['Kim','lee','park'],'age':[24,26,28],'children':[2,1,3]})
print(df)

   name  age  children
0   Kim   24         2
1   lee   26         1
2  park   28         3

In [45]:
df=pd.read_csv("/home/hwaseop/ku_lhs2025/ml_dl_python/data/fish_csv_data.csv")
print(df)

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]